</main>
<footer class="footer" id="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    <div class="wrapper">
        <div class="row">
            <div class="col-6">
                <h4 class="h4">Suivez-nous</h4>
                <div class="social" itemscope itemtype="http://schema.org/Organization">
                    <link itemprop="url" href="http://www.your-company-site.com">
                    <a itemprop="sameAs" href="http://www.facebook.com/your-company"><i
                                class="demo-icon icon-facebook"></i></a>
                    <a itemprop="sameAs" href="http://www.twitter.com/YourCompany"><i
                                class="demo-icon icon-twitter"></i></a>
                    <a itemprop="sameAs" href="http://www.linkedin.com/YourCompany"><i
                                class="demo-icon icon-linkedin"></i></a>
                    <a itemprop="sameAs" href="http://www.youtube.com/YourCompany"><i
                                class="demo-icon icon-youtube"></i></a>
                </div>
            </div>
            <div class="col-6">
                <h4 class="h4">Newsletter</h4>
                <form action="" class="form__newsletter">
                    <input type="email" placeholder="Entrez votre email">
                    <input type="submit" value="OK">
                </form>
            </div>
        </div>
    </div>

    <div class="menu__footer">
        <ul>
            <li><a href="#">Nos magasins</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Recrutement</a></li>
            <li><a href="#">Plan du site</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p>© Tang Frères 2017</p>
    </div>
</footer>
<a href="" class="back_to_top"><span class="icon-fleche"></span></a>
</div>
